In [2]:
%pip install selenium

Requirement already satisfied: selenium in c:\users\lenovo\appdata\local\programs\python\python39\lib\site-packages (4.9.1)
Requirement already satisfied: urllib3[socks]<3,>=1.26 in c:\users\lenovo\appdata\local\programs\python\python39\lib\site-packages (from selenium) (1.26.14)
Requirement already satisfied: trio~=0.17 in c:\users\lenovo\appdata\local\programs\python\python39\lib\site-packages (from selenium) (0.22.0)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\lenovo\appdata\local\programs\python\python39\lib\site-packages (from selenium) (0.10.2)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\lenovo\appdata\local\programs\python\python39\lib\site-packages (from selenium) (2022.12.7)
Requirement already satisfied: attrs>=19.2.0 in c:\users\lenovo\appdata\local\programs\python\python39\lib\site-packages (from trio~=0.17->selenium) (22.2.0)
Requirement already satisfied: sortedcontainers in c:\users\lenovo\appdata\local\programs\python\python39\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: async-generator>=1.9 in c:\users\lenovo\appdata\local\programs\python\python39\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: idna in c:\users\lenovo\appdata\local\programs\python\python39\lib\site-packages (from trio~=0.17->selenium) (3.4)
Requirement already satisfied: outcome in c:\users\lenovo\appdata\local\programs\python\python39\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: sniffio in c:\users\lenovo\appdata\local\programs\python\python39\lib\site-packages (from trio~=0.17->selenium) (1.3.0)
Requirement already satisfied: cffi>=1.14 in c:\users\lenovo\appdata\local\programs\python\python39\lib\site-packages (from trio~=0.17->selenium) (1.15.1)
Requirement already satisfied: exceptiongroup>=1.0.0rc9 in c:\users\lenovo\appdata\local\programs\python\python39\lib\site-packages (from trio~=0.17->selenium) (1.1.1)
Requirement already satisfied: wsproto>=0.14 in c:\users\lenovo\appdata\local\programs\python\python39\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\lenovo\appdata\local\programs\python\python39\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\users\lenovo\appdata\local\programs\python\python39\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\lenovo\appdata\local\programs\python\python39\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)
Note: you may need to restart the kernel to use updated packages.

WARNING: Ignoring invalid distribution - (c:\users\lenovo\appdata\local\programs\python\python39\lib\site-packages)
WARNING: Ignoring invalid distribution -ip (c:\users\lenovo\appdata\local\programs\python\python39\lib\site-packages)
WARNING: Ignoring invalid distribution - (c:\users\lenovo\appdata\local\programs\python\python39\lib\site-packages)
WARNING: Ignoring invalid distribution -ip (c:\users\lenovo\appdata\local\programs\python\python39\lib\site-packages)

In [3]:
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support.expected_conditions import presence_of_element_located
from selenium.common.exceptions import NoSuchElementException
from selenium.webdriver.support import expected_conditions as EC
import warnings
import time 
import string
# import openpyxl
import os

warnings.filterwarnings("ignore")

In [4]:
import pandas as pd
pd.reset_option('display.max_row', None)

In [5]:
df_jakarta = pd.read_csv('jakarta.csv')
df_jakarta

,tahun,nama_provinsi,nama_kabupaten,nama_kecamatan,nama_kelurahan,luas_wilayah_(km2),kepadatan_(jiwa/km2),Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,Unnamed: 34
0,2015,PROVINSI DKI JAKARTA,KAB.ADM.KEP.SERIBU,KEP. SERIBU UTR,P. PANGGANG,0.62,10278.58,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2015,PROVINSI DKI JAKARTA,KAB.ADM.KEP.SERIBU,KEP. SERIBU UTR,P. KELAPA,2.58,2539.95,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2015,PROVINSI DKI JAKARTA,KAB.ADM.KEP.SERIBU,KEP. SERIBU UTR,P. HARAPAN,2.45,962.32,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2015,PROVINSI DKI JAKARTA,KAB.ADM.KEP.SERIBU,KEP. SERIBU SLT,P. UNTUNG JAWA,1.03,2191.54,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2015,PROVINSI DKI JAKARTA,KAB.ADM.KEP.SERIBU,KEP. SERIBU SLT,P. TIDUNG,1.07,4714.69,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
262,2015,PROVINSI DKI JAKARTA,JAKARTA TIMUR,CIPAYUNG,MUNJUL,1.90,13493.96,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
263,2015,PROVINSI DKI JAKARTA,JAKARTA TIMUR,CIPAYUNG,SETU,3.25,6467.46,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
264,2015,PROVINSI DKI JAKARTA,JAKARTA TIMUR,CIPAYUNG,BAMBU APUS,3.17,8818.40,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
265,2015,PROVINSI DKI JAKARTA,JAKARTA TIMUR,CIPAYUNG,LUBANG BUAYA,3.72,18750.94,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
266,2015,PROVINSI DKI JAKARTA,JAKARTA TIMUR,CIPAYUNG,CEGER,3.63,5626.03,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
df_jakarta = df_jakarta[{'nama_kabupaten', 'nama_kecamatan', 'nama_kelurahan', 'luas_wilayah_(km2)', 'kepadatan_(jiwa/km2)'}]

In [7]:
df_jakarta

,kepadatan_(jiwa/km2),nama_kelurahan,luas_wilayah_(km2),nama_kabupaten,nama_kecamatan
0,10278.58,P. PANGGANG,0.62,KAB.ADM.KEP.SERIBU,KEP. SERIBU UTR
1,2539.95,P. KELAPA,2.58,KAB.ADM.KEP.SERIBU,KEP. SERIBU UTR
2,962.32,P. HARAPAN,2.45,KAB.ADM.KEP.SERIBU,KEP. SERIBU UTR
3,2191.54,P. UNTUNG JAWA,1.03,KAB.ADM.KEP.SERIBU,KEP. SERIBU SLT
4,4714.69,P. TIDUNG,1.07,KAB.ADM.KEP.SERIBU,KEP. SERIBU SLT
...,...,...,...,...,...
262,13493.96,MUNJUL,1.90,JAKARTA TIMUR,CIPAYUNG
263,6467.46,SETU,3.25,JAKARTA TIMUR,CIPAYUNG
264,8818.40,BAMBU APUS,3.17,JAKARTA TIMUR,CIPAYUNG
265,18750.94,LUBANG BUAYA,3.72,JAKARTA TIMUR,CIPAYUNG
266,5626.03,CEGER,3.63,JAKARTA TIMUR,CIPAYUNG

In [8]:
df_jakarta_new = df_jakarta.copy()

In [9]:
df_jakarta_new['nama_kelurahan'] = df_jakarta['nama_kelurahan'].str.replace("P. ", "PULAU ")

In [25]:
df_jakarta_new['nama_kecamatan'] = df_jakarta['nama_kecamatan'].str.replace("UTR", "UTARA")
df_jakarta_new['nama_kecamatan'] = df_jakarta_new['nama_kecamatan'].str.replace("SLT", "SELATAN")

In [26]:
df_jakarta_new['nama_kecamatan'] = df_jakarta_new['nama_kecamatan'].str.replace("KELAPULAU", "KELAPA")

In [28]:
df_jakarta_new

,kepadatan_(jiwa/km2),nama_kelurahan,luas_wilayah_(km2),nama_kabupaten,nama_kecamatan
0,10278.58,PULAU PANGGANG,0.62,KAB.ADM.KEP.SERIBU,KEP. SERIBU UTARA
1,2539.95,PULAU KELAPA,2.58,KAB.ADM.KEP.SERIBU,KEP. SERIBU UTARA
2,962.32,PULAU HARAPAN,2.45,KAB.ADM.KEP.SERIBU,KEP. SERIBU UTARA
3,2191.54,PULAU UNTUNG JAWA,1.03,KAB.ADM.KEP.SERIBU,KEP. SERIBU SELATAN
4,4714.69,PULAU TIDUNG,1.07,KAB.ADM.KEP.SERIBU,KEP. SERIBU SELATAN
...,...,...,...,...,...
262,13493.96,MUNJUL,1.90,JAKARTA TIMUR,CIPAYUNG
263,6467.46,SETU,3.25,JAKARTA TIMUR,CIPAYUNG
264,8818.40,BAMBU APUS,3.17,JAKARTA TIMUR,CIPAYUNG
265,18750.94,LUBANG BUAYA,3.72,JAKARTA TIMUR,CIPAYUNG
266,5626.03,CEGER,3.63,JAKARTA TIMUR,CIPAYUNG

In [15]:
import re

In [16]:
def search_word(text, word, type):
    if (type == "address"): 
        words = text.split(sep=', ')  # Split the text into individual words
    elif (type == "name"):
        words = re.split(r"[', ']", text)
    
    count = 0
    value = False
    # print(words)
    for w in words:
        if w == word:
            count+=1
            value = True  # Word found
    return value, count # Word not found

In [17]:
text = "Starbucks A B C"
search_word(text, "Starbucks", "name")[0]

True

In [18]:
maps_df = pd.DataFrame()

In [23]:
def scratch_data (maps_df, jenis, kelurahan, kecamatan): 
    driver.switch_to.default_content()
    searchbox=driver.find_element(By.ID, ('searchboxinput'))

    if (kelurahan == kecamatan): 
        location= f"kelurahan {kelurahan} kecamatan {kecamatan}"
    else: 
        location= f"{kelurahan} {kecamatan}"

    searchbox.send_keys(location)
    searchbox.send_keys(Keys.ENTER)
    time.sleep(2)

    try: 
        kelurahan = driver.find_element(By.CSS_SELECTOR, "[class*=fontHeadlineLarge]").text
        time.sleep(2)
    except NoSuchElementException:
        pass

    searchbox.send_keys(f" {jenis}")
    searchbox.send_keys(Keys.ENTER)
    time.sleep(3)

    entries = driver.find_elements(By.XPATH, "//*[@role='article']")

    for entry in entries:
        name= entry.get_attribute("aria-label")

        if (search_word(name.upper(), jenis.upper(), "name")[0]): 
            link = entry.find_element(By.TAG_NAME, "a")
            
            driver.execute_script("arguments[0].scrollIntoView(true);", link)
            link.click()
            time.sleep(3)

            # Switch to the pop-up window
            for window_handle in driver.window_handles:
                if window_handle != driver.current_window_handle:
                    driver.switch_to.window(window_handle)
                    break

            # driver.switch_to.window(link)
            try: 
                address = driver.find_element(By.CSS_SELECTOR, '[data-item-id = "address"]').get_attribute("aria-label")

            except NoSuchElementException:
                continue
            
            if (kelurahan != kecamatan): 
                if (search_word(address, kelurahan, "address")[0]): 
                    # print(name)
                    # print(address)
                    maps_df = maps_df.append({'Kelurahan': kelurahan, 'Kecamatan': kecamatan, 'Nama Starbucks': name, 'Alamat' : address}, ignore_index= True)
            else:
                if (search_word(address, kelurahan, "address")[0]):
                    if (search_word(address, kelurahan, "address")[1] > 1): 
                        maps_df = maps_df.append({'Kelurahan': kelurahan, 'Kecamatan': kecamatan, 'Nama Starbucks': name, 'Alamat' : address}, ignore_index= True)
        else: continue
    
    searchbox.clear()
    return maps_df

In [29]:
#Loading Selenium Webdriver 
driver= webdriver.Chrome()
wait = WebDriverWait(driver, 5)
 
#Opening Google maps 
driver.get("https://www.google.com/maps")
time.sleep(3)

for index, row in df_jakarta_new.iterrows():
    maps_df = scratch_data(maps_df, "Starbucks", row["nama_kelurahan"], row["nama_kecamatan"])
    if ((index % 9) == 0):
        maps_df

In [ ]:
maps_df.to_csv("Starbucks di Jakarta.csv")

In [ ]:
# # Set the maximum time to wait for new data to load
# wait = WebDriverWait(driver, 5)

# # Specify a locator for an element that appears after scrolling and new data is loaded
# locator = (By.XPATH, "//*[@role='article']")

# # Function to scroll to the bottom of the page
# def scroll_to_bottom():
#     driver.execute_script("window.scrollTo(0, document.body.scrollHeight);")

# # Function to check if new data is loaded
# def is_new_data_loaded():
#     try:
#         wait.until(EC.visibility_of_element_located(locator))
#         return True
#     except:
#         return False

# # Scroll and extract data
# data = []

# while True:
#     # Scroll to the bottom of the page
#     scroll_to_bottom()
    
#     # Wait for new data to load
#     if is_new_data_loaded():
#         # Extract the data from the page
#         data_elements = driver.find_elements(By.XPATH, "//*[@role='article']")
#         for element in data_elements:
#             data.append(element.text)
#     else:
#         # No more data is loaded, exit the loop
#         break

In [ ]:
# # Manually scroll through the page to load results
# scroll_pause_time = 1  # Adjust the pause time between scrolls as needed
# scroll_count = 10  # Adjust the number of scrolls to load more results as needed

# for _ in range(scroll_count):
#     driver.execute_script("window.scrollTo(0, document.body.scrollHeight);")
#     time.sleep(scroll_pause_time)

In [ ]:
# scroll_container = driver.find_element(By.CSS_SELECTOR, "[attribute_name*='::-webkit-scrollbar']")
# scrollable_height = driver.execute_script("return arguments[0].scrollHeight", scroll_container)
# current_scroll_position = 0
# print(scrollable_height)

# while current_scroll_position < scrollable_height:
#     # Scroll to the bottom of the container
#     driver.execute_script("arguments[0].scrollTop = arguments[0].scrollHeight", scroll_container)
#     time.sleep(1)  # Wait for the new results to load
#     current_scroll_position = scrollable_height
#     scrollable_height = driver.execute_script("return arguments[0].scrollHeight", scroll_container)

In [ ]:

    # driver.close()
    # adress= entry.find_element(By.CLASS_NAME, 'section-result-location').text
    # phone = entry.find_element(By.CLASS_NAME, 'section-result-hours-phone-container').text.split(' · ')[-1]
    # print(name)
    # try:
    #     webcontainer= entry.find_element(By.CLASS_NAME, 'section-result-action-container')
    #     website=entry.find_element(By.TAG_NAME, 'a').get_attribute("href")
    # except NoSuchElementException:
    #     website="No website could be found"
    # print (name)
    # print (website)
       
 
    #Try/except  to write the extracted info in the Excel file pass if doessn't exist 
    # try:
    #     maps_df.append(pd.Series([location,name,adress,phone,website]))
    # except IndexError:
    #     pass

Starbucks DT Hayam Wuruk
Alamat: Jl. Hayam Wuruk No.8, RT.6/RW.2, Kb. Klp., Kecamatan Gambir, Kota Jakarta Pusat, Daerah Khusus Ibukota Jakarta 10120
Starbucks
Alamat: RT.1/RW.10, Kramat Pela, Kec. Kby. Baru, Kota Jakarta Selatan, Daerah Khusus Ibukota Jakarta 12130
Starbucks
Alamat: Jl. M.H. Thamrin No.9, RT.2/RW.1, Kb. Sirih, Kec. Menteng, Kota Jakarta Pusat, Daerah Khusus Ibukota Jakarta 10340
Starbucks
Alamat: Jl. Letjen M.T. Haryono No.9, RT.11/RW.5, Tebet Bar., Jakarta, Kota Jakarta Selatan, Daerah Khusus Ibukota Jakarta 12810
Starbucks Cik Ditiro
Alamat: Jl. Teuku Cik Ditiro No.33, RW.5, Menteng, Kec. Menteng, Kota Jakarta Pusat, Daerah Khusus Ibukota Jakarta 10310
Starbucks
Alamat: Cyber 2, Lantai GF, Blok X-5 Kav 1-2, Jl. H. R. Rasuna Said, RT.7/RW.2, Kuningan, Kuningan Tim., Kecamatan Setiabudi, Kota Jakarta Selatan, Daerah Khusus Ibukota Jakarta 12950
Starbucks Plaza Indonesia Lv 4
Alamat: M.H., Jl. K.H. Wahid Hasyim No.15, RT.7/RW.5, Gondangdia, Menteng, Central Jakarta City, Jakarta 10350